img {
    display: grid;
    grid-template-columns: min-content 1fr;
    background-color: rgba(172, 209, 164, 0.989);
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-size: large;
    font-style:oblique
}

p{
    text-align: center;
    text-transform: uppercase;
    
}
.header {
    padding: 25px;
    text-align: center;
    background: #076048;
    
    
  }
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
body {
    background-color: rgb(127, 171, 163);
    padding-bottom: 30px;
    
}


.navbar a{
    float:left;
    color: rgb(0, 0, 0);
    
    }
 .navbar a {
        display:block;
        text-align:right;
        width:180px; /* fixed width */
         

        }
.logo{
    cursor: pointer;
    width:200px;
    height:130px;
}

.navbar{
    list-style: none;
}
.navbar li{
    display: inline-block;
    padding: 0px 0px;
}
.navbar li a{
    transition: all 0.3s ease 0s;
}
.navbar li a:hover{
    color :rgba(173, 17, 17, 0.829)
}
button{
    padding: 30px 90px;
    background-color: rgba(50, 184, 13, 0.705);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 1.8s ease 0s;
    margin-inline-start: 100%;  
    margin-top: 100%;  
}
button:hover{
    background-color: rgba(183, 180, 180, 0);
}

a 
{  
font-size:x-large;  
}  
.h2{
    orientation: top;
}

.main {
    display: flex;
    align-items: right;
    width: 95vw;
    height: 104vh;
    margin: 0% auto;
    background-color: rgb(240, 234, 229); 
    outline: 8px solid #44362b00;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    flex-wrap: wrap;
    justify-content: center;
    transform: rotate(-57deg); 
    -ms-transform: rotate(-57deg); 
    -webkit-transform: rotate(-57deg); 
    -moz-transform: rotate(-57deg);
   
    }

.item-one{
    background-color: rgb(68, 80, 70);
    height: 90;
    width: 90;
    
}
.item-two{
    background-color: rgb(89, 97, 91);
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3;
}
.item-three{
    background-color: rgb(96, 106, 98);
    
    
    
    }
.item-four{
    background-color: rgb(80, 87, 82);
    
}
.item-five{
    background-color: rgb(107, 114, 109);
    
    }
.item-six{
    background-color: rgb(113, 120, 114);
    
    }
.item-seven{
    background-color: rgb(162, 172, 164);
    }
.item-eight{
    background-color: rgb(182, 188, 183);
    height: 270px;
    width: 290px;
    }

h2{
    text-align: center;
}

/*tablet config */

@media screen and (max-width: 800px)
{
body {background-color: blue;}
}
#container{
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width: 600px)
{

    body {background-color: green; }

}

@media all and (max-width: 500px) {
    

@media (max-width: 480px) {
    #picblock {
      background-image: url(mobile.png);
      background-repeat: no-repeat;
      background-size: contain ;
    }
  }
@media (min-width: 481px) {
    #picblock {
      background-image: url(desktop.png);
      background-repeat: no-repeat;
      background-size: contain ;
    }
  }
}

.hero {
    margin-top: 30px; text-align: center;
    }
.hero img {
    max-width: 100%;
    }
img {
    max-width: 100%;
 }
.div{
    flex-wrap: wrap;
    justify-content: center;
}

.btn-group{
    width:60px;
    height: 60px;
}
.item-two {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

script{
    text-align: center;
}

h1{
text-align: center;
}