header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
  color: #000;
  border-bottom: 1px solid #eee;
  text-shadow: 0 0 15px #777;
  width: 60%;
}

h2 {
  color: navy;
  margin: 0 0 1rem 0;
	 border-bottom: 1px solid #bbb;
}
main {
    margin-left: 2rem;
  }
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
img {
    width: auto;
      max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
  }
  .caption {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    border: 1px solid #ccc;
    background-color: lightyellow;
    padding: 0.25rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1rem 1fr;
  }
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
  }