body{
    background-color: rgba(76, 69, 81, 0.408);
}
th, td {
	padding: 7px 15px;
	border: 3px solid var(--borderlight);
}

table,
td {
    border: 1px solid rgba(127, 47, 47, 0.109);
}

thead,
tfoot {
    background-color: rgb(9, 7, 7);
    color: #fff;
}
.tr td th{
    
    color: rgb(20, 11, 11);
    background-color: blue  ;

}
tbody tr:nth-child(even) {
	background-color: var(--zebra);
}
:root {
	--back: hsla(150, 50%, 30%, 1);
  --back2: hsla(150, 50%, 30%, .5);
  --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: rgba(51, 51, 51, 0.36);
	--borderlight: hsl(0,0%,33%);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 7px var(--shadow);
	border-collapse: collapse;
    
}

.td{
    background-color: rgb(9, 7, 7);
    color: #fff;
}
/* credits to 
https://developer.mozilla.org/en-US/docs/Learn/HTML/Tables/Advanced#tables_for_visually_impaired_users
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table/*



