#weather-icon{
    height: 10%;
    width: 20%;
}
body{
    background-color: rgb(152, 190, 177);
    font-size: 26px;
    text-align: center;
}
/* credits for the letter with colors https://alvarotrigo.com/blog/css-text-animations/*/
#weatherContainer {
    align-items: center;
    justify-content: center;
    
    
}
h1, p
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #ffc400 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




